target
.classpath
.settings
.project
biz.karms.sinkit.org.jboss.as.quickstarts.cluster.hasingleton.service.ejb.cache.pojo.BlacklistedRecord/
sinkit-ear.ear.redeploy
.idea/
*.iml
biz.karms.sinkit.org.jboss.as.quickstarts.cluster.hasingleton.service.ejb.cache.pojo.Rule
log.log
biz.karms.sinkit.org.jboss.as.quickstarts.cluster.hasingleton.service.ejb.Rule
integration-tests/biz.karms.sinkit.org.jboss.as.quickstarts.cluster.hasingleton.service.ejb.cache.pojo.CustomList
wildfly-*-SNAPSHOT/
wildfly-*.zip
integration-tests/biz.karms.sinkit.ejb.cache.pojo.*
Virustotal-Public-API-V2.0-Client/
elasticsearch-1.7.1.tar.gz
elasticsearch-1.7.1/
wildfly.latest
2016-08-08.notes
wildfly-10.1.0.Final-vanilla
wildfly-10.1.0.Final
run_config.sh
